/* Filterizer */
.filtr-item img {
    width: 100%;
    height: auto;
}

.controls-filter {
    margin-bottom: 26px;
    color: red;
}
/* Footer */
footer {
    margin-top: 60px;
    padding: 20px 0;
    text-align: center;
    color: #fff;
}

footer h4 {
    padding-bottom: 1.3rem;
    color: #fff;
}

footer a {
    padding: 1rem;
    font-size: 1.2rem;
    text-decoration: none;
    color: #fff;
}

footer a:hover {
    text-decoration: none;
    color: #fedfdf;
}
