{% extends 'base.html.twig' %}

{% block title %}Admin - Edit{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-2">
                <h2 class="display-5 my-5">Modifier l'oeuvre</h2>
                {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button type="submit" class="btn btn-outline-secondary">Modifiez</button>
                {{ form_end(form) }}

            </div>
        </div>
    </div>

{% endblock %}
