{% extends 'base.html.twig' %}

{% block title %}Admin - New Technical {% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
        <h2 class="display-5 my-5">Ajouter une technique</h2>
            <div class="col-md-8 offset-2">
                {{ form_start(formTech) }}
                    {{ form_widget(formTech) }}
                    <button type="submit" class="btn btn-outline-secondary">Ajoutez</button>
                {{ form_end(formTech) }}
            </div>
        </div>
    </div>

{% endblock %}